{% extends 'layout.html' %}

{% block content %}

<!-- sidebar column here -->
{% include 'sidebar.html' %}

<!-- show content column here -->
<div class="col py-3">
	<!-- put content here -->
	<div class="container p-4">
		<h1>Order Form</h1>
		<form class="form-inline" action="{{ url_for('billing') }}" method="post">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="customerName" class="mr-2">Customer Name:</label>
						<input type="text" name="customer_name" class="form-control" id="customerName" placeholder="Enter customer name">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="customerPhone" class="mr-2">Customer Phone:</label>
						<input type="text" class="form-control" id="customerPhone" name="customer_phone"
							placeholder="Enter customer phone number">
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-4">
					<div class="form-group">
						<label for="productName" class="mr-2">Product Name:</label>
						<select class="form-control" id="productName">
							{% for medicine in medicines %}
							<option value="{{ medicine.mdcn_name + ',' + medicine.mdcn_price|string }}">{{
								medicine.mdcn_name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="productQuantity" class="mr-2">Product Quantity:</label>
						<input type="number" class="form-control" id="productQuantity" min="1" step="1" value="1"
							placeholder="Enter product quantity">
					</div>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-primary mt-4" onclick="addMedicine()">Add</button>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-md-6">
					<div class="form-group">
						<label for="amountPaid" class="mr-2">Amount Paid:</label>
						<input type="number" class="form-control" id="amount_paid" name="amount_paid" step="any" placeholder="Enter amount paid">
					</div>
				</div>
				<div class="col-md-6">
					<select class="form-select mt-4" aria-label="payment select" name="payment_method">
						<option selected disabled>Select payment method</option>
						<option value="UPI">UPI</option>
						<option value="Credit/Debit card">Credit/Debit card</option>
						<option value="Cash">Cash</option>
					</select>
				</div>
			</div>
		
			<!-- medicine table -->
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Medicine Name</th>
						<th>Quantity</th>
						<th>Per Unit Price(₹)</th>
						<th>Total Medicine Cost(₹)</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="medicine-table-body">
					<!-- Table rows will be dynamically added here -->
				</tbody>
				<tfoot>
					<tr>
						<th colspan="3">Total Cost(₹):</th>
						<th colspan="2" id="total-cost">0</th>
						<input type="hidden" name="total_amount" id="total_amount" value="">
					</tr>
				</tfoot>
			</table>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button type="submit" class="btn btn-success btn-success mt-2">Confirm Payment</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}