{% extends 'layout.html' %}

{% block content %}

<!-- sidebar column here -->
{% include 'sidebar.html' %}

<!-- show content column here -->
<div class="col py-3">
	<!-- put content here -->
	<div class="container">
		<h1>Stock Report</h1>
		<form method="POST" action="{{ url_for('stock_report') }}">
			<div class="row g-3 mt-2">
				<div class="col-md-6">
					<div class="form-group">
						<select class="form-control" id="stock_report_type" name="stock_report_type">
							<option value="" disabled selected>Stock report by</option>
							<option value="company">Company Name</option>
							<option value="medicine">Medicine Name</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div id="stock_company" style="display: none;">
						<div class="form-group">
							<select class="form-control" name="company">
								<option value="" disabled selected>Select company name</option>
								{% for company in companies %}
								<option value="{{ company }}">{{ company }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div id="stock_medicines" style="display: none;">
						<div class="form-group">
							<select class="form-control" name="medicine">
								<option value="" disabled selected>Select medicine name</option>
								{% for medicine in medicines %}
								<option value="{{ medicine }}">{{ medicine }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary mt-3">Generate Report</button>
		</form>

		{% if result %}
		<div class="mt-4">
			<table class="table mx-2">
				<thead>
					<tr>
						{% for column in columns %}
						<th scope="col">{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for item in result %}
					<tr>
						{% for column in columns %}
						<td>{{ item[column] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<h3 class="mt-2">No records were found!</h3>
		{% endif %}
	</div>
</div>

{% endblock %}